{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="p-5 mb-4 bg-light border rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to the Bloggo!</h1>
        {% if user.is_authenticated %}
          <p class="col-md-8 fs-4">Welcome Back! Create a new post above or
          say "Hi" to another user!
          </p>
        {% else %}
          <p class="col-md-8 fs-4">Login or Signup Above!</p>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}